@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 1
   Tutorial Case
   Filename: ct_layout2.css

   This file contains the layout styles used in the Curbside Thai website

*/

/* =============================================
	Base layout styles used by mobile devices
	up to 480px and cascaded to larger devices 
	unless superceded by other styles.
   =============================================
*/

#site-header {
	position: fixed;
	height: 52px;
	background: #fff;
	top: 0;
	width: 100%;
	z-index: 100;
	transition: all .3s ease;
	box-shadow: 0 1px 25px rgba(0,0,0, .1);
}
#site-header.hide {
	top: -53px;
}